<h1>Find your Triangle!</h1>
<form action="/triangle">

  <div class="form-group">
    <label for="base">Length of Base:</label>
    <input id="base" name="base" class="form-control" type="text">

    <label for="side_one">Length of Side One:</label>
    <input id="side_one" name="side_one" class="form-control" type="text">

    <label for="side_two">Length of Side Two:</label>
    <input id="side_two" name="side_two" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
